<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>        
        <!-- META SECTION -->
        <title>HR System | {{ request.user.name }}</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'joli/css/theme-default.css' %}"/>
        <!-- EOF CSS INCLUDE -->                                     
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="index.html">{{ request.user.name }}</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                   
                    <li class="xn-profile">
                        {% for item in image %}
                        <a href="#" class="profile-mini">
                            <img src="{{ item.avatar.url }}" alt=""/>
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                <img src="{{ item.avatar.url }}" alt=""/>
                            </div>
                            {% endfor %}
                            <div class="profile-data">
                                <div class="profile-data-name">{{ request.user.name }}</div>
                                <div class="profile-data-title">Web Developer/Designer</div>
                            </div>
                            <div class="profile-controls">
                                <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                                <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                            </div>
                        </div>                                                                        
                    </li>
                    <li class="xn-title">Navigation</li>
                    <li class="active">
                        <a href="{% url 'company:system' %}"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>                        
                    </li>                    
                                   
                    <li><a href="{% url 'employee:home' %}"><span class="fa fa-users"></span> Address Book</a></li>
                    <li><a href="{% url 'employee:task-list' %}"><span class="fa fa-edit"></span> Tasks</a></li>
                     <li><a href="{% url 'employee:task-form' %}"><span class="fa fa-align-justify"></span> Assign Task</a></li>
                     <li><a href="{% url 'staffwelfare:training' %}"><span class="fa fa-th-large"></span> Add Training</a></li>
                     <li><a href="{% url 'staffwelfare:all-training' %}"><span class="fa fa-table"></span> All Trainings</a></li>
                     <li><a href="{% url 'staffwelfare:staff_salary' %}"><span class="fa fa-list-alt"></span> Staff Salary</a></li>
                    
                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SEARCH -->
                    <li class="xn-search">
                        <form role="form">
                            <input type="text" name="search" placeholder="Search..."/>
                        </form>
                    </li>   
                    <!-- END SEARCH -->
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>                        
                    </li> 
                    <!-- END SIGN OUT -->
                    <!-- MESSAGES -->
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-comments"></span></a>
                        <div class="informer informer-danger">4</div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>                                
                                <div class="pull-right">
                                    <span class="label label-danger">4 new</span>
                                </div>
                            </div>
                            <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <img src="{% static 'joli/assets/images/users/user2.jpg'%}" class="pull-left" alt="John Doe"/>
                                    <span class="contacts-title">John Doe</span>
                                    <p>Praesent placerat tellus id augue condimentum</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-away"></div>
                                    <img src="{% static 'joli/assets/images/users/user.jpg'%}" class="pull-left" alt="Dmitry Ivaniuk"/>
                                    <span class="contacts-title">Dmitry Ivaniuk</span>
                                    <p>Donec risus sapien, sagittis et magna quis</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-away"></div>
                                    <img src="{% static 'joli/assets/images/users/user3.jpg'%}" class="pull-left" alt="Nadia Ali"/>
                                    <span class="contacts-title">Nadia Ali</span>
                                    <p>Mauris vel eros ut nunc rhoncus cursus sed</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-offline"></div>
                                    <img src="{% static 'joli/assets/images/users/user6.jpg'%}" class="pull-left" alt="Darth Vader"/>
                                    <span class="contacts-title">Darth Vader</span>
                                    <p>I want my money back!</p>
                                </a>
                            </div>     
                            <div class="panel-footer text-center">
                                <a href="pages-messages.html">Show all messages</a>
                            </div>                            
                        </div>                        
                    </li>
                    <!-- END MESSAGES -->
                    <!-- TASKS -->
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-tasks"></span></a>
                        <div class="informer informer-warning">3</div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>                                
                                <div class="pull-right">
                                    <span class="label label-warning">3 active</span>
                                </div>
                            </div>
                            <div class="panel-body list-group scroll" style="height: 200px;">                                
                                <a class="list-group-item" href="#">
                                    <strong>Phasellus augue arcu, elementum</strong>
                                    <div class="progress progress-small progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                                    </div>
                                    <small class="text-muted">John Doe, 25 Sep 2014 / 50%</small>
                                </a>
                                <a class="list-group-item" href="#">
                                    <strong>Aenean ac cursus</strong>
                                    <div class="progress progress-small progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%</div>
                                    </div>
                                    <small class="text-muted">Dmitry Ivaniuk, 24 Sep 2014 / 80%</small>
                                </a>
                                <a class="list-group-item" href="#">
                                    <strong>Lorem ipsum dolor</strong>
                                    <div class="progress progress-small progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">95%</div>
                                    </div>
                                    <small class="text-muted">John Doe, 23 Sep 2014 / 95%</small>
                                </a>
                                <a class="list-group-item" href="#">
                                    <strong>Cras suscipit ac quam at tincidunt.</strong>
                                    <div class="progress progress-small">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
                                    </div>
                                    <small class="text-muted">John Doe, 21 Sep 2014 /</small><small class="text-success"> Done</small>
                                </a>                                
                            </div>     
                            <div class="panel-footer text-center">
                                <a href="pages-tasks.html">Show all tasks</a>
                            </div>                            
                        </div>                        
                    </li>
                    <!-- END TASKS -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     
                
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb push-down-0">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>                    
                    <li class="active">Messages</li>
                </ul>
                <!-- END BREADCRUMB -->                
                                
                <!-- START CONTENT FRAME -->
                <div class="content-frame">                                    
                    <!-- START CONTENT FRAME TOP -->
                    <div class="content-frame-top">                        
                        <div class="page-title">                    
                            <h2><span class="fa fa-comments"></span> All reports</h2>
                        </div>                                                    
                        <div class="pull-right">                            
                            <a href="{% url 'management:make-report' %}" class="btn btn-danger"><span class="fa fa-book"></span> Report</a>
                            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
                        </div>                           
                    </div>
                    <!-- END CONTENT FRAME TOP -->
                    
                    <!-- START CONTENT FRAME RIGHT -->
                    <!--<div class="content-frame-right">
                        
                        <div class="list-group list-group-contacts border-bottom push-down-10">
                            <a href="#" class="list-group-item">                                 
                                <div class="list-group-status status-online"></div>
                                <img src="{% static 'joli/assets/images/users/user.jpg'%}" class="pull-left" alt="Dmitry Ivaniuk">
                                <span class="contacts-title">Dmitry Ivaniuk</span>
                                <p>Hello my friend, how are...</p>
                            </a>                                
                            <a href="#" class="list-group-item">                                    
                                <div class="list-group-status status-online"></div>
                                <img src="{% static 'joli/assets/images/users/user3.jpg'%}" class="pull-left" alt="Nadia Ali">
                                <span class="contacts-title">Nadia Ali</span>
                                <p>Wanna se my photos?</p>
                            </a>                                                                
                            <a href="#" class="list-group-item active">         
                                <div class="list-group-status status-online"></div>
                                <img src="{% static 'joli/assets/images/users/user2.jpg'%}" class="pull-left" alt="John Doe">
                                <div class="contacts-title">John Doe <span class="label label-danger">5</span></div>
                                <p>This project is awesome</p>                                       
                            </a>
                            <a href="#" class="list-group-item">         
                                <div class="list-group-status status-away"></div>
                                <img src="{% static 'joli/assets/images/users/user4.jpg'%}" class="pull-left" alt="Brad Pitt">
                                <span class="contacts-title">Brad Pitt</span>
                                <p>ok</p>                     
                            </a>
                            <a href="#" class="list-group-item">         
                                <div class="list-group-status status-offline"></div>
                                <img src="{% static 'joli/assets/images/users/no-image.jpg'%}" class="pull-left" alt="Darth Vader">
                                <span class="contacts-title">Darth Vader</span>
                                <p>We should win this war!!!1</p>
                            </a>
                            <a href="#" class="list-group-item">         
                                <div class="list-group-status status-offline"></div>
                                <img src="{% static 'joli/assets/images/users/no-image.jpg'%}" class="pull-left" alt="Kim Kardashian">
                                <span class="contacts-title">Kim Kardashian</span>
                                <p>You received a letter from Darth?</p>
                            </a>
                            <a href="#" class="list-group-item">         
                                <div class="list-group-status status-offline"></div>
                                <img src="{% static 'joli/assets/images/users/no-image.jpg'%}" class="pull-left" alt="Jason Statham">
                                <span class="contacts-title">Jason Statham</span>
                                <p>Lets play chess...</p>
                            </a>                            
                        </div>
                        
                        <div class="block">
                            <h4>Status</h4>
                            <div class="list-group list-group-simple">                                
                                <a href="#" class="list-group-item"><span class="fa fa-circle text-success"></span> Online</a>
                                <a href="#" class="list-group-item"><span class="fa fa-circle text-warning"></span> Away</a>
                                <a href="#" class="list-group-item"><span class="fa fa-circle text-muted"></span> Offline</a>                                
                            </div>
                        </div>
                        
                    </div>-->
                    <!-- END CONTENT FRAME RIGHT -->
                
                    <!-- START CONTENT FRAME BODY -->
                    <div class="content-frame-body content-frame-body-left">
                        
                        <div class="messages messages-img">
                            {% for report in all_report %}
                            <div class="item in">
                                {% if report.files %}
                                <div class="image">
                                    <img src="{{ item.avatar.url }}" alt="{{ item.owner }}">
                                </div>
                                {% endif %}
                                <div class="text">
                                    <div class="heading">
                                        <a href="{{ report.get_absolute_url }}">{{ report.title }}</a>
                                        <span class="date"><strong>{{ report.report_by }}</strong>: {{report.timestamp }}</span>
                                    </div>
                                        {{ report.content|safe|truncatechars:120 }}
                                        
                                </div>
                            </div>
                            {% endfor %}
                           <!-- <div class="item">
                                <div class="image">
                                    <img src="{% static 'joli/assets/images/users/user.jpg'%}" alt="Dmitry Ivaniuk">
                                </div>                                
                                <div class="text">
                                    <div class="heading">
                                        <a href="#">Dmitry Ivaniuk</a>
                                        <span class="date">08:39</span>
                                    </div>                                    
                                    Integer et ipsum vitae urna mattis dictum. Sed eu sollicitudin nibh, in luctus velit.
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="{% static 'joli/assets/images/users/user.jpg'%}" alt="Dmitry Ivaniuk">
                                </div>                                
                                <div class="text">
                                    <div class="heading">
                                        <a href="#">Dmitry Ivaniuk</a>
                                        <span class="date">08:42</span>
                                    </div>                                    
                                    In dapibus ex ut nisl laoreet aliquam. Donec in mollis leo. Aenean nec suscipit neque, non iaculis justo. Quisque eget odio efficitur, porta risus vitae, sagittis neque.
                                </div>
                            </div>
                            <div class="item in">
                                <div class="image">
                                    <img src="{% static 'joli/assets/images/users/user2.jpg'%}" alt="John Doe">
                                </div>
                                <div class="text">
                                    <div class="heading">
                                        <a href="#">John Doe</a>
                                        <span class="date">08:58</span>
                                    </div>
                                    Curabitur et euismod urna?
                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src="{% static 'joli/assets/images/users/user.jpg'%}" alt="Dmitry Ivaniuk">
                                </div>                                
                                <div class="text">
                                    <div class="heading">
                                        <a href="#">Dmitry Ivaniuk</a>
                                        <span class="date">09:11</span>
                                    </div>                                    
                                    Fusce ultricies erat quis massa interdum, eu elementum urna iaculis
                                </div>
                            </div>
                            <div class="item in">
                                <div class="image">
                                    <img src="{% static 'joli/assets/images/users/user2.jpg'%}" alt="John Doe">
                                </div>
                                <div class="text">
                                    <div class="heading">
                                        <a href="#">John Doe</a>
                                        <span class="date">09:22</span>
                                    </div>
                                    Vestibulum cursus ipsum ut dolor vulputate dapibus. Donec elementum est vel vulputate malesuada?
                                </div>
                            </div>-->
                        </div>                        
                        
                        <!--<div class="panel panel-default push-up-10">
                            <div class="panel-body panel-body-search">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default"><span class="fa fa-camera"></span></button>
                                        <button class="btn btn-default"><span class="fa fa-chain"></span></button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Your message..."/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        
                    </div>
                   
                    <!-- END CONTENT FRAME BODY -->      
                </div>
                <!-- END PAGE CONTENT FRAME -->
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

        <!-- START PRELOADS -->
        <audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->                        
        
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'joli/js/plugins/jquery/jquery.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'joli/js/plugins/jquery/jquery-ui.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'joli/js/plugins/bootstrap/bootstrap.min.js'%}"></script>        
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->
        <script type='text/javascript' src='{% static "joli/js/plugins/icheck/icheck.min.js"%}'></script>
        <script type="text/javascript" src="{% static 'joli/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js'%}"></script>
        <!-- END PAGE PLUGINS -->     

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'joli/js/settings.js'%}"></script>
        
        <script type="text/javascript" src="{% static 'joli/js/plugins.js'%}"></script>        
        <script type="text/javascript" src="{% static 'joli/js/actions.js'%}"></script>        
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->         
    </body>
</html>




