<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>        
        <!-- META SECTION -->
        <title>HR System | {{request.user.name }}</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'joli/css/theme-default.css'%}"/>
        <!-- EOF CSS INCLUDE -->                                     
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container page-navigation-toggled">
            
            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo"> <!-- image -->
                        <a href="{% url 'company:system' %}">{{request.user.name }}</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">
                        {% for item in image %}
                        <a href="#" class="profile-mini">
                            <img src="{{ item.avatar.url }}" alt="{{ item.owner }}"/>
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                <img src="{{ item.avatar.url }}" alt="{{ item.owner }}"/>
                                {% endfor %}
                            </div>
                            
                            <div class="profile-data">
                                <div class="profile-data-name">{{request.user.name }}</div>
                                <div class="profile-data-title">Web Developer/Designer</div>
                            </div>
                            <div class="profile-controls">
                                <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                                <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                            </div>
                        </div>                                                                        
                    </li>
                    <li class="xn-title">Navigation <a href="{% url 'company:staff-image-edit' id=request.user.id %}" class="profile-mini">
                            <!--<img src="{{ item.avatar.url }}" alt="{{ profiles.full_name }}"/>-->Edit photo </a></li>
                    <li>
                        <a href="{% url 'company:system' %}"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>                        
                    </li>
                    <li><a href="{% url 'employee:home' %}"><span class="fa fa-users"></span> Address Book</a></li>
                    <li class="active"><a href="{% url 'employee:task-list' %}"><span class="fa fa-edit"></span> Tasks</a></li>
                     <li><a href="{% url 'employee:task-form' %}"><span class="fa fa-align-justify"></span> Assign Task</a></li>
                     <li><a href="{% url 'staffwelfare:training' %}"><span class="fa fa-th-large"></span> Add Training</a></li>
                     <li><a href="{% url 'staffwelfare:all-training' %}"><span class="fa fa-table"></span> All Trainings</a></li>
                     <li><a href="{% url 'staffwelfare:staff_salary' %}"><span class="fa fa-list-alt"></span> Staff Salary</a></li>
                    
                 
                    
                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SEARCH -->
                    <li class="xn-search">
                        <form role="form">
                            <input type="text" name="search" placeholder="Search..."/>
                        </form>
                    </li>   
                    <!-- END SEARCH -->
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>                        
                    </li> 
                    <!-- END SIGN OUT -->
                    <!-- MESSAGES -->
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-comments"></span></a>
                        <div class="informer informer-danger">4</div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>                                
                                <div class="pull-right">
                                    <span class="label label-danger">4 new</span>
                                </div>
                            </div>                       
                        </div>                        
                    </li>
                    <!-- END MESSAGES -->
                    
                    <!-- END TASKS -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     
                
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb push-down-0">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Tasks</li>
                </ul>
                <!-- END BREADCRUMB -->                                                
                                
                <!-- START CONTENT FRAME -->
                <div class="content-frame">     
                    <!-- START CONTENT FRAME TOP -->
                    <div class="content-frame-top">                        
                        <div class="page-title">                    
                            <h2><span class="fa fa-arrow-circle-o-left"></span> Tasks</h2>
                        </div>                                                
                        <div class="pull-right">
                            <button class="btn btn-default content-frame-left-toggle"><span class="fa fa-bars"></span></button>
                        </div>                                
                        <div class="pull-right" style="width: 100px; margin-right: 5px;">
                            <select class="form-control select">
                                <option>All</option>                                
                                <option>Work</option>
                                <option>Home</option>
                                <option>Friends</option>
                                <option>Closed</option>
                            </select>
                        </div>
                        
                    </div>                    
                   
                    <!-- END CONTENT FRAME TOP -->
                    
                    <!-- START CONTENT FRAME BODY -->
                    <div class="content-frame-body">
                                                
                        <div class="row push-up-10">
                            <div class="col-md-6">
                                
                                <h3>Task List</h3>
                                <hr>
                                
                                <div class="tasks" id="tasks">
                                 {% for task in task_list %}

                                    <div class="task-item task-primary">                     <h3 style="text-align: center; font-family: monospace; margin: 10px auto;"><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></h3>                             
                                        <div class="task-text">{{ task.description|truncatechars:100 }}</div>
                                        <div class="task-footer">
                                            <div class="pull-left"><span class="fa fa-clock-o"></span> {{ task.start_date }}</div>                                    
                                        </div>                                    
                                    </div>
                                    {% endfor %}
                                </div>                            

                            </div>
                            <div class="col-md-2">
                                
                            </div>
                            <div class="col-md-4">
                                <h3>Completed Task</h3>
                                <hr>
                                <div class="tasks" id="tasks_completed">
                                    {% for task in competed_task %}
                                    <h3><a href="{{ task.get_absolute_url }}"> {{ task.title }}</a></h3>
                                    
                                    <div class="task-item task-info task-complete">                                    
                                        <div class="task-text">{{ task.description|truncatechars:100 }}</div>
                                        <div class="task-footer">
                                            <div class="pull-left"><span class="fa fa-clock-o"></span> {{ task.start_date }} </div> <span style="text-align: center; margin: auto 15px;">To</span>
                                            <div class="pull-right"><span class="fa fa-clock-o"></span> {{ task.end_date }}</div>                                    
                                        </div>                                    
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        </div>                        
                                                
                    </div>
                    <!-- END CONTENT FRAME BODY -->
                    
                </div>
                <!-- END CONTENT FRAME -->

            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

          
        <!-- END MODALS -->
        
        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

        <!-- START PRELOADS -->
        <audio id="audio-alert" src="{% static 'joli/audio/alert.mp3'%}" preload="auto"></audio>
        <audio id="audio-fail" src="{% static 'joli/audio/fail.mp3'%}" preload="auto"></audio>
        <!-- END PRELOADS -->                    
        
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'joli/js/plugins/jquery/jquery.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'joli/js/plugins/jquery/jquery-ui.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'joli/js/plugins/bootstrap/bootstrap.min.js'%}"></script>        
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->        
        <script type='text/javascript' src='{% static "joli/js/plugins/icheck/icheck.min.js"%}'></script>
        <script type="text/javascript" src="{% static 'joli/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js'%}"></script>
        
        <script type="text/javascript" src="{% static 'joli/js/plugins/moment.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'joli/js/plugins/bootstrap/bootstrap-select.js'%}"></script> 
        <!-- END THIS PAGE PLUGINS-->        

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'joli/js/settings.js'%}"></script>
        
        <script type="text/javascript" src="{% static 'joli/js/plugins.js'%}"></script>        
        <script type="text/javascript" src="{% static 'joli/js/actions.js'%}"></script>
        <script type="text/javascript" src="{% static 'joli/js/demo_tasks.js'%}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->         
    </body>
</html>






